<% if current_user %>
  <a href='/charity/edit'>Edit account</a>
  <a href="/listings/new">Create listing</a>
    <% if @listings.length > 0 %>
      Your current listings:
      <% @listings.each do |listing| %>
        <%= listing.donation_centre_address %>
        <%= listing.donation_centre_postcode %>
        Opening hours:
        Weekday: <%= listing.weekday_opening_hours %>
        Weekend: <%= listing.weekend_opening_hours %>
        <a href='/listings/edit/<%= listing.id %>'>Edit this listing</a>
      <% end %>
    <% else %>
      You do not have any listings
    <% end %>
<% else %>
  Please <a href="/charity/signin">sign in</a> to see your stuff
<% end %>
