<h1>Charities & Organisations currently accepting donations:</h1>
<a href='/map'>See on map</a>
<% if @listings.length > 0 %>
  <% @listings.each do |listing| %>
    <%= listing.user.organisation %>,
    <%= listing.donation_centre_address %>,
    <%= listing.donation_centre_postcode %>.
    Opening hours:
    Weekday: <%= listing.weekday_opening_hours %>
    Weekend: <%= listing.weekend_opening_hours %>
  <% end %>
<% else %>
  No active listings
<% end %>
